build/
works/
python/log/
python/work/
results/
.idea/
*.pyc
download/
log/
lib/trec_eval_latest
lib/libsvm*
sift_plans
install.ini
/download
.Rhistory
webapp/venv/
webapp/node_modules/
errors.log
hightChart.awk
