[${name}_SVMTrain]
description = "Genere les modeles svm."
script = svm-train
input_dir = train/svm/
output_dir = ${name}/train/model/
svm-args = -b 1 -w+1 $w -g $g
nb-threads = 4
skip = False

[${name}_SVMPredictVal]
description = "Predict from histogram values [val]."
script = svm-predict
input_dir = ${name}/train/model/
histograms = works/val/val.svm
output_dir = ${name}/val/out/
svm-args = -b 1

[${name}_SVMToTrecEval]
description = "Transform svm prediction for trec_eval."
script = transform-trec_eval
input_dir = ${name}/val/out/
output_dir = ${name}/val/trec_format/
list_id = http://mrim.imag.fr/GINF53C4/PROJET/val/list.txt
all = True

[${name}_TrecEval]
description = "Calculating score with trec_eval."
script = trec_eval
input_dir = ${name}/val/trec_format
output_dir = ${name}/val/trec_eval_results/
base-url = http://mrim.imag.fr/GINF53C4/PROJET/val/rel/
