<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title> Bienvenue </title>
  <link rel="stylesheet" href="vendor/foundation-6/css/foundation.css" />
  <link rel="stylesheet" href="todos.css" />
</head>
<body>


  <div class="callout large title">
    <div class="row column text-center">
      <h1>Projet d'indexation multimedia de FAURE Adrien</h1>
    </div>
  </div>

  <div id="evalapp" class="row medium-8 large-7 columns">
    <div class="callout primary">
      <h2> Select a file from your computer </h2>
      <form id="upload-file" method="post" enctype="multipart/form-data">
        <div class="row">
          <div class="medium-12 columns">
            <label>Select a file
              <input name="file" type="file">
            </label>
            <button class="button" id="upload-file-btn" type="button">Upload</button>
          </div>
        </div>
      </form>

      <h2> Provide your url </h2>
      <form id="url" method="post" enctype="multipart/form-data">
        <div class="row">
          <div class="medium-12 columns">
            <label>Select a file
              <input name="url" type="text">
            </label>
            <button class="button" id="upload-url-btn" type="button">Send</button>
          </div>
        </div>
      </form>
    </div>

    <div id="results">

    </div>
    <!-- <div class="blog-post">
    <h3>Awesome blog post title <small>3/6/2015</small></h3>
    <img class="thumbnail" src="http://placehold.it/850x350">
    <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>
    <div class="callout">
    <ul class="menu simple">
    <li><a href="#">Author: Mike Mikers</a></li>
    <li><a href="#">Comments: 3</a></li>
  </ul>
</div>
</div> -->

</div>

<script src="vendor/jquery.js"></script>
<script src="vendor/foundation-6/js/vendor/what-input.min.js"></script>
<script src="vendor/foundation-6/js/foundation.min.js"></script>
<script src="vendor/json2.js"></script>
<script src="vendor/underscore.js"></script>
<script src="vendor/backbone.js"></script>
<script src="main.js"></script>

<!-- Templates -->

<script type="text/template" id="item-template">
  <div class="view">
    <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
    <label><%- title %></label>
    <a class="destroy"></a>
  </div>
  <input class="edit" type="text" value="<%- title %>" />
</script>

<script type="text/template" id="stats-template">
  <% if (done) { %>
  <a id="clear-completed">Clear <%= done %> completed <%= done == 1 ? 'item' : 'items' %></a>
  <% } %>
  <div class="todo-count"><b><%= remaining %></b> <%= remaining == 1 ? 'item' : 'items' %> left</div>
</script>

<script id="data" type="application/json">
{
  "eval_url" : "/eval/eval",
  "results_url" : "/index_mult/"
}
</script>

<script type="text/template" id="results-tmpl">
  <div class="callout">
    <h2><%= photo_name %></h2>
    <div class="row">
      <div class="small-8 large-8 columns">
        <img class="thumbnail" src="<%= photo_path %>" >
      </div>
      <div class="small-4 large-4 columns" >
          <% if(typeof res !== 'undefined')  {
            _.each(res, function(attr) {  %>
              <div>
                <%= attr.concept %> <%= attr.map %>
              </div>
              <% }) } %>
      </div>
    </div>
  </div>
</script>

    </body>
    </html>
