<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title> Bienvenue </title>
  <link rel="stylesheet" href="vendor/foundation-6/css/foundation.css" />
  <link rel="stylesheet" href="vendor/font-awesome-4.5.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="todos.css" />
</head>
<body>

  <div id="evalapp" class="fullWidth row medium-8 large-7 columns ">
    <div id="alerts"></div>
    <div class="callout header-form  ">
      <h2> Select a file from your computer </h2>
      <form id="upload-file" method="post" enctype="multipart/form-data">
        <div class="row">
          <div class="medium-12 columns">
            <label>Select a file
              <input name="file" type="file">
            </label>
            <button class="button" id="upload-file-btn" type="button">Upload</button>
          </div>
        </div>
      </form>

      <h2> Provide your url </h2>
      <div class="form" id="url">
        <div class="row">
          <div class="medium-12 columns">
            <label>Select a file
              <input id="input-url" name="url" type="text">
            </label>
            <button class="button" id="upload-url-btn" type="button">Send</button>
          </div>
        </div>
      </div>
    </div>

    <div id="results">

    </div>
    <!-- <div class="blog-post">
    <h3>Awesome blog post title <small>3/6/2015</small></h3>
    <img class="thumbnail" src="http://placehold.it/850x350">
    <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>
    <div class="callout">
    <ul class="menu simple">
    <li><a href="#">Author: Mike Mikers</a></li>
    <li><a href="#">Comments: 3</a></li>
  </ul>
</div>
</div> -->

</div>

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<script src="vendor/jquery.js"></script>

<script src="vendor/foundation-6/js/vendor/what-input.min.js"></script>
<script src="vendor/foundation-6/js/foundation.min.js"></script>
<script src="vendor/json2.js"></script>

<script src="vendor/underscore.js"></script>
<script src="vendor/backbone.js"></script>

<script src="vendor/HighCharts/js/highcharts.js"></script>
<script src="vendor/HighCharts/js/modules/exporting.js"></script>
<script src="main.js"></script>


<!-- Templates -->

<script type="text/template" id="item-template">
  <div class="view">
    <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
    <label><%- title %></label>
    <a class="destroy"></a>
  </div>
  <input class="edit" type="text" value="<%- title %>" />
</script>


<script type="text/template" id="alert-tmpl">
  <div data-alert class="callout text-center alert info radius">
    <%= message %>
    <a href="#" class="close">&times;</a>
  </div>
</script>

<script type="text/template" id="stats-template">
  <% if (done) { %>
  <a id="clear-completed">Clear <%= done %> completed <%= done == 1 ? 'item' : 'items' %></a>
  <% } %>
  <div class="todo-count"><b><%= remaining %></b> <%= remaining == 1 ? 'item' : 'items' %> left</div>
</script>

<script id="data" type="application/json">
{
  "eval_url" : "/eval/eval",
  "results_url" : "/index_mult/"
}
</script>

<script type="text/template" id="results-tmpl">
  <div class="callout resultsView">
    <h2><%= model.photo_name %></h2>
    <div class="row">
      <div class="large-4 columns">
        <div class="row">
          <div class="large-12 columns">
          <img class="thumbnail" src="<%= model.photo_path %>" >
          </div>
          <div class="large-12 columns">
            <% if(model.concepts.length <= 0)  { %>
              <div>This photo doesn't match any concepts.</div>
            <% } else { %>
                <% _.each(model.concepts, function(elem) {  %>
                <div class="callout success">
                  concept found : <%= elem.concept %>
                </div>
                <%  });  %>
            <% } %>
          </div>
        </div>
      </div>
      <div class="text-center large-8 columns callout chartCall" >
          <% if(typeof model.res !== 'undefined')  {%>
          <label class="text-left"> Ordering by :
            <select id="order-select">
            <%  _.each(model.res, function(elem, key) { %>
              <option value="<%= key %>" <%= (selected != key ? "" : "selected") %> > <%= key %> </option>
            <% }) %>
            </select>
          </label>
              <div>
                <div class="barchart"></div>
              </div>
          <% } else { %>
            <i class="fa fa-5x fa-align-center fa-spinner fa-spin"></i>
          <% } %>
      </div>
    </div>
  </div>
</script>

</body>
</html>
